<article class="style">
    <span class="image">
        <img class="image burger-img" src='{{burger_pic}}'>
    </span>
    <h2>{{burger_name}}</h2>
    <button class="change-eaten button primary" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}Eat me!{{else}}Create another!{{/if}}
    </button>
    <button class="delete-burger" data-id="{{id}}">Take of the menu!</button>
</article>