<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Eat me!{{else}}Create another!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">Take of the menu!</button>
</li>
